{% load i18n %}

{% block subject %}
  {% blocktrans %}Account activation on wearehere.com.ng{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
  {% blocktrans %}
    You're receiving this email because you need to finish activation process on wearehere.com.ng.
  {% endblocktrans %}

  {% trans "Please go to the following page to activate account:" %} {{ protocol }}://fascinating-marzipan-f7a73a.netlify.app/{{ url|safe }}

  {% trans "Thanks for using our site!" %}

  {% blocktrans %}
    The wearehere.com.ng team
  {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
  <p>
    {% blocktrans %}
      You're receiving this email because you need to finish activation process on wearehere.com.ng
    {% endblocktrans %}
  </p>

  <p>{% trans "Please go to the following page to activate account:" %}</p>

  <p>
    <a href="https://fascinating-marzipan-f7a73a.netlify.app/{{ url|safe }}" style="background-color: dodgerblue; color: white">
      Activate
    </a>
  </p>

  <p>{% trans "Thanks for using our site!" %}</p>

  <p>{% blocktrans %} The wearehere.com.ng team {% endblocktrans %}</p>
{% endblock html_body %}
